footer{
    text-align: center;
    padding: 20px;
}
.offerings{
    text-align: center;
}
.menu{
    text-align: center;
}
.menu img{
    width: 200px;
}
.a_forms{
    text-align: center;
    padding: 100px 10px;
}
.b_forms{
    text-align: center;
    padding: 40px 10px;
}
.admin_panel{
    text-align: center;
    margin: auto;
}
.basket{
    margin-bottom: 4px;
}
.empty_basket{
    text-align: center;
    margin: auto;
    padding: 60px 10px;
    padding-bottom: 150px;
}
.empty_basket img{
    width: 400px;
}
.order_item{
    text-align: center;
    padding: 60px 10px;
    padding-bottom: 140px;
}
.sorry{
    text-align: center;
    margin: auto;
    padding: 80px 10px;
    padding-bottom: 140px;
}
.sorry img{
    width: 400px;
}
.delivery_info{
    text-align: center;
    padding-bottom: 40px;
}
.delivery_info .map img{
    width: 400px;
}
.spinner {
    height: 50px;
    width: 50px;
    border-left: 3px solid #FF7F50;
    border-bottom: 3px solid #FF7F50;
    border-right: 3px solid #FF7F50;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.status{
    text-align: center;
    margin: auto;
    padding: 80px 10px;
    padding-bottom: 160px;
}
.status h2{
    color: #FF7F50;
}
.status .spinner{
    margin: auto;
    margin-top: 20px;
}
.quantity a{
    color: white;
    text-decoration: none;
}
.quantity a:hover{
    color: white;
    text-decoration: none;
}
.quantity_p{
    background-color: #eee;
}