footer{
    text-align: center;
    padding: 20px;
}
.offerings{
    text-align: center;
}
.menu{
    text-align: center;
}
.menu img{
    width: 200px;
}
.a_forms{
    text-align: center;
    padding: 100px 10px;
}
.b_forms{
    text-align: center;
    padding: 40px 10px;
}

