{% extends 'base.html' %}
{% block title %}PizzaPy{% endblock %}
{% block content %}
{% load static %}

{% if user_orders %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 order_item">
                <h1>Order details</h1>
                <div class="item_table">
                    <p><br></p>
                    <p>Customer: {{user_basket.user}}</p>
                    <p>Positions in order: {{pos_count}}</p>
                    <b>Total sum: {{total_sum}}$</b>
                    <p><br></p>
                    <p><a href="{% url 'take_away' %}" class="btn btn-success">Take away</a>
                        <a href="{% url 'delivery' %}" class="btn btn-warning">Delivery</a>
                    <a href="{% url 'remove_from_basket' %}" class="btn btn-danger">Decline</a></p>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 order_item">
                <h1>Your order</h1>
                {% for order in user_orders %}
                <div class="column">
                    <img src="{{order.product.image.url}}" alt="" style="width:50px; height:50px">
                    <b>{{order.product.title}}</b>
                    <p>Size:  {{order.product.regular_size}} | Price: {{order.product.price}}$</p>
                    <div class="btn-group quantity" role="group" aria-label="Basic outlined example">
                        <a href="{% url 'reduce_quantity' element_pk=order.product.pk %}" class="btn btn-primary">-</a>
                        <p class="btn btn-secondary quantity_p">{{order.quantity}}</p>
                        <a href="{% url 'expand_quantity' element_pk=order.product.pk %}" class="btn btn-primary">+</a>
                    </div>
                    <p><br></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% else %}
    <div class="empty_basket">
        <img src="{% static 'media/basket.jpg' %}">
        <h1>Empty basket</h1>
    </div>
{% endif %}
{% endblock %}
