{% extends 'base.html' %}
{% block title %}PizzaPy{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row delivery_info">
        <div class="col-sm-12">
            <h2>You must be registered to order</h2>
            <p>If you still haven't done so, click <a href="{% url 'signup' %}">here</a></p>
            <p><br></p>
        </div>
        <div class="col-sm-6 col-sm-12">
            <h3>Our restaurants</h3>
            <br>
            {% for r in restaurant %}
            <p>{{r.address}}</p>
            <p style="color: grey">{{r.working_hours}}</p>
            {% endfor %}
        </div>
        <div class="col-sm-6 col-sm-12 map">
            <img src="{% static 'media/map.png' %}">
        </div>
    </div>
</div>
{% endblock %}