{% extends 'base.html' %}
{% block title %}PizzaPy{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 order_item">
            <h1>Take away</h1>
            <form method="post" class="form-group">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>

        <div class="col-md-6 col-sm-12 order_item">
            <h1>Order details</h1>
            <div class="item_table">
                <p>You will have to pick up your order at the restaurant</p>
                <hr>
                {% for i in items %}
                <p>{{i.product.title}}</p>
                <p>Price {{i.product.price}}$ | Quantity: {{i.quantity}}</p>
                <hr>
                {% endfor %}
                <b>Total sum: {{total_sum}}$</b>
            </div>
        </div>
    </div>
</div>
{% endblock %}