{% extends 'base.html' %}
{% block title %}PizzaPy{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 status">
            <h1>Your order status</h1>
            {% if delivery %}
                <h2>{{delivery.status}}</h2>
                {% if ready_delivery %}
                <br>
                <a href="{% url 'received_order' %}" class="btn btn-success">I received order</a>
                {% else %}
                <div class="spinner"></div>
                {% endif %}
            {% endif %}

            {% if take_away %}
                <h2>{{take_away.status}}</h2>
                {% if ready_take_away %}
                <br>
                <a href="{% url 'received_order' %}" class="btn btn-success">I received order</a>
                {% else %}
                <div class="spinner"></div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}